In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"D:/Excel_csv/Netflix/NetFlix.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description
0,s1,TV Show,3%,NaN,"Jo達o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,05-Jan-19,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,01-Mar-16,2016,R,90,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,NaN,David Attenborough,United Kingdom,03-Dec-18,2017,TV-G,1,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   int64
 10  genres        7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(2), object(10)
memory usage: 730.2+ KB

In [4]:
df.duplicated().sum()

np.int64(0)

In [5]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
genres             0
description        0
dtype: int64

In [6]:
df.dropna(subset=['date_added'],inplace=True)

In [7]:
df['cast']=df['cast'].fillna(df['cast'].mode()[0])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7777 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7777 non-null   object
 1   type          7777 non-null   object
 2   title         7777 non-null   object
 3   director      5398 non-null   object
 4   cast          7777 non-null   object
 5   country       7271 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7777 non-null   int64
 8   rating        7770 non-null   object
 9   duration      7777 non-null   int64
 10  genres        7777 non-null   object
 11  description   7777 non-null   object
dtypes: int64(2), object(10)
memory usage: 789.9+ KB

In [9]:
df.shape

(7777, 12)

In [10]:
# 1. What is the most frequency genre of movie and TV show released on Netflix

In [11]:
movie_genres=df[df['type']=='Movie'][['genres']]
tvshow_genres=df[df['type']=='TV Show'][['genres']]

In [12]:
# Step 2: Split genres by comma and flatten
all_movie_genres = movie_genres['genres'].str.split(',').explode().str.strip()
all_tvshow_genres = tvshow_genres['genres'].str.split(',').explode().str.strip()


# Step 3: Count frequency of each genre
movie_genre_counts = all_movie_genres.value_counts()
tvshow_genre_counts = all_tvshow_genres.value_counts()
print("Most frequent genre in movies:", movie_genre_counts.head(1))
print("Most frequent genre in TV Show:", tvshow_genre_counts.head(1))

Most frequent genre in movies: genres
International Movies    2437
Name: count, dtype: int64
Most frequent genre in TV Show: genres
International TV Shows    1198
Name: count, dtype: int64

In [13]:
# 2. top 3 most frequent_genre in movie and TV show

print("For Movie\n",movie_genre_counts.head(3))

For Movie
 genres
International Movies    2437
Dramas                  2106
Comedies                1471
Name: count, dtype: int64

In [14]:
print('For TV Show\n',tvshow_genre_counts.head(3))

For TV Show
 genres
International TV Shows    1198
TV Dramas                  703
TV Comedies                518
Name: count, dtype: int64

In [15]:
# 3. How many movie/TV Show were added in each year

In [16]:
df['date_added']=pd.to_datetime(df['date_added'])

C:\Users\DELL\AppData\Local\Temp\ipykernel_13860\2090431521.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date_added']=pd.to_datetime(df['date_added'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7777 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7777 non-null   object
 1   type          7777 non-null   object
 2   title         7777 non-null   object
 3   director      5398 non-null   object
 4   cast          7777 non-null   object
 5   country       7271 non-null   object
 6   date_added    7777 non-null   datetime64[ns]
 7   release_year  7777 non-null   int64
 8   rating        7770 non-null   object
 9   duration      7777 non-null   int64
 10  genres        7777 non-null   object
 11  description   7777 non-null   object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 789.9+ KB

In [18]:
df['year']=df['date_added'].dt.year
df['year']=df['year'].astype(int)

In [19]:
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,description,year
0,s1,TV Show,3%,NaN,"Jo達o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020-08-14,2020,TV-MA,4,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,2017-12-15,2008,TV-MA,143,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...,2017
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,2019-01-05,2016,TV-PG,124,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...,2019

In [20]:
movie=df.groupby(['year','type']).size()

In [21]:
# import matplotlib.pyplot as plt
movie

year  type
2008  Movie         1
      TV Show       1
2009  Movie         2
2010  Movie         1
2011  Movie        13
2012  Movie         3
2013  Movie         6
      TV Show       5
2014  Movie        19
      TV Show       6
2015  Movie        58
      TV Show      30
2016  Movie       258
      TV Show     185
2017  Movie       864
      TV Show     361
2018  Movie      1255
      TV Show     430
2019  Movie      1497
      TV Show     656
2020  Movie      1312
      TV Show     697
2021  Movie        88
      TV Show      29
dtype: int64

In [22]:
#4. WHich top 3 actors/actresses appear the most on netflix

In [23]:
all_actors=df['cast']
all_actors = all_actors.str.split(', ').explode()

# Count appearances
actor_counts = all_actors.value_counts()

In [24]:
actor_counts.head(3)

cast
David Attenborough    736
Anupam Kher            42
Shah Rukh Khan         35
Name: count, dtype: int64

In [25]:
# 5. what is the distribution of sum of movie/TV Show duration by each country(Top 10)

In [26]:
country_movie_duration=df[df['type']=='Movie'].groupby('country')['duration'].sum().sort_values(ascending=False)

In [28]:
country_movie_duration.head(10)

country
United States     165378
India             108557
United Kingdom     16285
Egypt               9732
Canada              9720
Spain               8894
Philippines         7877
Turkey              7856
Indonesia           7448
Japan               6638
Name: duration, dtype: int64

In [29]:
country_tvshow_duration=df[df['type']=='TV Show'].groupby('country')['duration'].sum().sort_values(ascending=False)

In [30]:
country_tvshow_duration.head(10)

country
United States            1591
United Kingdom            375
Japan                     245
South Korea               171
Canada                    147
Australia                  94
United States, Canada      90
India                      82
Spain                      78
Taiwan                     69
Name: duration, dtype: int64

In [31]:
# 6. What is the average release year for movie/TV show

In [32]:
df.groupby('type')['release_year'].mean()

type
Movie      2012.920030
TV Show    2016.212083
Name: release_year, dtype: float64

In [33]:
# 7. In which year highest movie and tvshow added in netflix

In [34]:
df[df['type']=='Movie'][['year']].value_counts()

year
2019    1497
2020    1312
2018    1255
2017     864
2016     258
2021      88
2015      58
2014      19
2011      13
2013       6
2012       3
2009       2
2010       1
2008       1
Name: count, dtype: int64

In [35]:
df[df['type']=='TV Show'][['year']].value_counts()

year
2020    697
2019    656
2018    430
2017    361
2016    185
2015     30
2021     29
2014      6
2013      5
2008      1
Name: count, dtype: int64

In [65]:
# 8. what is the max rating in genres in movie/TV show

In [43]:
df['rating'].value_counts()

rating
TV-MA       2861
TV-14       1928
TV-PG        804
R            665
PG-13        386
TV-Y         279
TV-Y7        270
PG           247
TV-G         194
NR            83
G             39
TV-Y7-FV       6
UR             5
NC-17          3
Name: count, dtype: int64

In [64]:
df['genres'].count()

np.int64(7777)

In [42]:
df['rating'].unique()

array(['TV-MA', 'TV-PG', 'R', 'TV-G', 'PG-13', 'TV-14', 'TV-Y', 'PG',
       'TV-Y7', 'NR', 'G', 'TV-Y7-FV', nan, 'UR', 'NC-17'], dtype=object)

In [67]:
movie_genres_max_rating=df[df['type']=='Movie'][['genres','rating']].value_counts()
tvshow_genres_max_rating=df[df['type']=='TV Show'][['genres','rating']].value_counts()

In [69]:
print(movie_genres_max_rating.head(1))

genres           rating
Stand-Up Comedy  TV-MA     275
Name: count, dtype: int64

In [70]:
print(tvshow_genres_max_rating.head(1))

genres    rating
Kids' TV  TV-Y      109
Name: count, dtype: int64

In [66]:
# 9. Which genres has max Rating in TV Show

In [ ]:
df[df['type']=='TV Show'][['gener']]